#container {
  display: grid;
  width: 100%;
  margin: 20px 0;
  grid-template:  "name img" 100px
                  "gender img" 1fr
                  "return img" 50px
                  / 3fr 2fr;
}

#name {
  grid-area: name;
  font-size: 35px;
  max-width: 490px;
}

#return {
  grid-area: return;
}

#gender {
  grid-area: gender;
  font-size: 24px;
}

#image {
  grid-area: img;
}

#image img {
  height: 200px;
  border-radius: 15px;
  border: 3pt solid black;
}